/*
This makes the border and padding be counted as part of the element's size.
It switches from
	https://mdn.mozillademos.org/files/13647/box-model-standard-small.png
to
	https://mdn.mozillademos.org/files/13649/box-model-alt-small.png
*/
* {
	box-sizing: border-box;
}

/*
Make the document fill the whole viewport, this overrides any weird defaults that browsers might have.
*/

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
    background-color: #203647;
    font-family: 'Roboto';
    font-size: 13px;
    color: rgba(255, 255, 255, 0.17);
    width: 100%;
    color: white;
    margin: auto;
    line-height: 2em;
    letter-spacing: 0.1em;
}

.page-content {
    width: 80%;
    margin: auto;

    font-size: 2em;
}

.title {
    text-align: center;
    padding-bottom:6.25%;
}

.main_title {
    font-size: 6em;
    
}

.scroll-spotify {
    width: 100%;
    margin-left: auto;
    margin-right: auto ;
    position:relative;
    display:block; 

}


/* Style the collapsible content. Note: hidden by default */
.content {
    display: block;
    overflow: hidden;
    


}

/*Widget 1 CSS */
#buttons {
    margin: auto;
    padding: auto;
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button {
    font-family: inherit;
}

.tick text {
    fill: #fff;
}

.axis {
    font-size: inherit;
}

.bttn-simple {
    margin: 0;
    padding: 0;
    width: 130px;
    outline: none;
    border-width: 0;
    border-color: transparent;
    background: transparent;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    font-family: inherit;
    padding: 5px 12px;
    overflow: hidden;
    border-width: 0;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.14);
    color: #fff;
    -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.bttn-simple:focus {
    background: rgba(255, 99, 99, 0.5);
}

.bttn-simple:hover {
    opacity: 0.4;
}

.collapsible {
    width: 100%;
    margin: 0;
    padding: 0;
    outline: none;
    border-width: 0;
    border-color: transparent;
    background: transparent;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    font-weight: 400;
    font-family: inherit;
    padding: 5px 12px;
    overflow: hidden;
    border-width: 0;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.08);
    color: #fff;
    -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.collapsible:focus {}

.collapsible:hover {
    opacity: 0.4;
}

#lollipop_d3 {
    border-radius: 5px;
    margin: auto;
    max-width: 700px;
    padding: -10px 10px 10px 10px;
}

.comment {
    margin: auto;
}

.comment-title {
    background-color: rgba(242,118,89);
    width: max-content;
    text-align: left;
    padding: 4px 10px 4px 10px;
    font-weight: bold;
    font-size: 18px;
}

.comment-content {
    background-color: rgba(255, 255, 255, 0.12);
    padding: 10px 10px 10px 10px;
}

/*
It is easier to read if the text is not too wide, so we limit the width.
We use the class selector ".", so this style will be applied to elements with class="width-limited"
The various units of measurement available in CSS:
	https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Values_and_units
*/

/*svg {
  background: white;
}*/

.spiral {
  fill: none;
  stroke: #303030;
  stroke-width: 3px;
}

.spiral-content {
    fill: cornsilk;
    stroke: #120f12;
    font-size: 80px;
}

svg {
	margin: 1rem;
}