/*
This makes the border and padding be counted as part of the element's size.
It switches from
	https://mdn.mozillademos.org/files/13647/box-model-standard-small.png
to
	https://mdn.mozillademos.org/files/13649/box-model-alt-small.png
*/
* {
	box-sizing: border-box;
}

/*
Make the document fill the whole viewport, this overrides any weird defaults that browsers might have.
*/
html, body, figure {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}

/* Default font and size */
body {

	width: 100vw;
	height: 100vh;

	/* center vertically */
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;

	/* background behind the plot */
	/*background: rgb(75 138 134);*/

	/* default text */
	font-family: -webkit-pictograph;
	font-size: 1.1rem;
}

/*
It is easier to read if the text is not too wide, so we limit the width.
We use the class selector ".", so this style will be applied to elements with class="width-limited"
The various units of measurement available in CSS:
	https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Values_and_units
*/

/*svg {
  background: white;
}*/

.spiral {
  fill: none;
  stroke: #303030;
  stroke-width: 3px;
}

.spiral-content {
    fill: cornsilk;
    stroke: #120f12;
    font-size: 80px;
}

svg {
	margin: 1rem;
}