/*
This makes the border and padding be counted as part of the element's size.
It switches from
	https://mdn.mozillademos.org/files/13647/box-model-standard-small.png
to
	https://mdn.mozillademos.org/files/13649/box-model-alt-small.png
*/
* {
	box-sizing: border-box;
}

/*
Make the document fill the whole viewport, this overrides any weird defaults that browsers might have.
*/
html, body, figure {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}

/* Default font and size */
body {

	width: 100vw;
	height: 100vh;

	/* center vertically */
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;

	 /*background behind the plot */
	background: #1f1e1e;

	/* default text */
	/*font-family: -webkit-pictograph;*/
	font: 40px Fantasy;
	/*font-size: 1.1rem;*/

	/*position: absolute;*/
}

#valence {
	max-width: 55rem;
	position: relative;
	/* Center horizontally: */
	margin-left: auto;
	margin-right: auto;
	float: right;
	
}

#speechiness {
	max-width: 55rem;
	position: relative;
	/* Center horizontally: */
	margin-left: auto;
	margin-right: auto;
	float: left;
	
}


.axis line{
  stroke: white;
}

.axis path{
  stroke: white;
}

.axis text{
  fill: white;
  /*font-size: 100;*/
}  

.spiral {
  fill: none;
  stroke: #303030;
  stroke-width: 3px;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 28px;
  fill: #f5b310;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  fill: cornsilk;
}

.description {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 13px;
  fill: cornsilk;
}

.spiral-content {
    fill: cornsilk;
/*    stroke: cornsilk;
    color: cornsilk;*/
    font: 10px Helvetica;
    opacity: 0.8;
}

text,html {
	/*stroke:white;*/
}

svg {
	margin: 1rem;
}

div.tooltip {   
  
    position: absolute;
    text-align: center;
    font-family: -webkit-pictograph;
    padding: 2px;
    font: 20px Fantasy;
    background: #3ba54a;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;         
}