/*
This makes the border and padding be counted as part of the element's size.
It switches from
	https://mdn.mozillademos.org/files/13647/box-model-standard-small.png
to
	https://mdn.mozillademos.org/files/13649/box-model-alt-small.png
*/
* {
	box-sizing: border-box;
}

/*
Make the document fill the whole viewport, this overrides any weird defaults that browsers might have.
*/
html, body, figure {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}

/* Default font and size */
body {

	width: 100vw;
	height: 100vh;

	/* center vertically */
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;

	/* background behind the plot */
	background: black;

	/* default text */
	/*font-family: -webkit-pictograph;*/
	font: 40px Fantasy;
	/*font-size: 1.1rem;*/
}


.axis line{
  stroke: white;
}

.axis path{
  stroke: white;
}

.axis text{
  fill: white;
  /*font-size: 100;*/
}  

.spiral {
  fill: none;
  stroke: #303030;
  stroke-width: 3px;
}

.spiral-content {
    fill: cornsilk;
    stroke: #120f12;
    font-size: 80px;
}

text,html {
	stroke:white;
}

svg {
	margin: 1rem;
}

div.tooltip {   
  
    position: absolute;
    text-align: center;
    font-family: -webkit-pictograph;
    padding: 2px;
    font: 20px Fantasy;
    background: #3ba54a;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;         
}